# frontend local dev context
./node_modules
./package-lock.json

# docker context
./Dockerfile*
./docker-compose.yml

# git context
./LICENSE
./README.md
.git
.gitignore

# others 
*.pdf
*.ipynb

