# Sensitive data
private/

# local 
.ipynb*
**__pycache__/
**.egg-info/
update.sh

# Node
node_modules
package-lock.json
package.json
yarn.lock

**build_info.json
**contract_info.json

# pdf
*.pdf

# log
*.log


# temp 
backend/solc/contractAddress.sol
backend/solc/npm_install.sh
