# Sensitive data
private/

# local 
.ipynb*
**__pycache__/
**.egg-info/

# Node
node_modules
package-lock.json
package.json
yarn.lock

**build_info.json
**contract_info.json

# pdf
*.pdf

# log
*.log



